<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a href="#" class="navbar-brand">Fvs</a>
  <div class="navbar-nav">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn-sm" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Sort</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item disabled btn-sm" href="#">Release Date</a>
        </div>
      </div>
    </div>
  </div>
</nav>