<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="#">Fvs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Genres</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="#">Action</a>
          <a class="dropdown-item btn-sm" href="#">Comedy</a>
          <a class="dropdown-item btn-sm" href="#">Adventure</a>
          <a class="dropdown-item btn-sm" href="#">Animation</a>
          <a class="dropdown-item btn-sm" href="#">Crime</a>
          <a class="dropdown-item btn-sm" href="#">Documentary</a>
          <a class="dropdown-item btn-sm" href="#">Drama</a>
          <a class="dropdown-item btn-sm" href="#">Family</a>
          <a class="dropdown-item btn-sm" href="#">Fantasy</a>
          <a class="dropdown-item btn-sm" href="#">History</a>
          <a class="dropdown-item btn-sm" href="#">Horror</a>
          <a class="dropdown-item btn-sm" href="#">Music</a>
          <a class="dropdown-item btn-sm" href="#">Mystery</a>
          <a class="dropdown-item btn-sm" href="#">Romance</a>
          <a class="dropdown-item btn-sm" href="#">Science Fiction</a>
          <a class="dropdown-item btn-sm" href="#">TV Movie</a>
          <a class="dropdown-item btn-sm" href="#">Thriller</a>
          <a class="dropdown-item btn-sm" href="#">War</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Sort</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="#">Release Date</a>
        </div> 
      </li>
    </ul>
  </div>
</nav>