<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="#">Fvs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Genres</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button (click)="onFilter($event)" id=Action class="dropdown-item btn-sm">Action</button>
          <button (click)="onFilter($event)" id=Comedy class="dropdown-item btn-sm">Comedy</button>
          <button (click)="onFilter($event)" id=Adventure class="dropdown-item btn-sm">Adventure</button>
          <button (click)="onFilter($event)" id=Animation class="dropdown-item btn-sm">Animation</button>
          <button (click)="onFilter($event)" id=Crime class="dropdown-item btn-sm">Crime</button>
          <button (click)="onFilter($event)" id=Documentary class="dropdown-item btn-sm">Documentary</button>
          <button (click)="onFilter($event)" id=Drama class="dropdown-item btn-sm">Drama</button>
          <button (click)="onFilter($event)" id=Family class="dropdown-item btn-sm">Family</button>
          <button (click)="onFilter($event)" id=Fantasy class="dropdown-item btn-sm">Fantasy</button>
          <button (click)="onFilter($event)" id=History class="dropdown-item btn-sm">History</button>
          <button (click)="onFilter($event)" id=Horror class="dropdown-item btn-sm">Horror</button>
          <button (click)="onFilter($event)" id=Music class="dropdown-item btn-sm">Music</button>
          <button (click)="onFilter($event)" id=Mystery class="dropdown-item btn-sm">Mystery</button>
          <button (click)="onFilter($event)" id=Romance class="dropdown-item btn-sm">Romance</button>
          <button (click)="onFilter($event)" id='Science Fiction' class="dropdown-item btn-sm">Science Fiction</button>
          <button (click)="onFilter($event)" id='TV Movie' class="dropdown-item btn-sm">TV Movie</button>
          <button (click)="onFilter($event)" id=Thriller class="dropdown-item btn-sm">Thriller</button>
          <button (click)="onFilter($event)" id=War class="dropdown-item btn-sm">War</button>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Sort</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-sm" href="#">Release Date</a>
        </div>
      </li>
    </ul>
  </div>
</nav>